aclocal.m4 linguist-generated
config.h.in linguist-generated
configure linguist-generated
configure.scan linguist-generated
dist/Makefile.in linguist-generated
m4/libtool.m4 linguist-vendored
man/Makefile.in linguist-generated
man/*/Makefile.in linguist-generated
src/Makefile.in linguist-generated
src/*/Makefile.in linguist-generated
