*DS_Store*
Makefile
*.cache
*.log
*~
*.status
libtool
*.o
*.lo
*.lai
*.dirstamp
src/t*/*deps/*.*o
src/t*/*/*deps/*.*o
src/t*/*/*/*deps/*.*o
lib*.a
lib*.la
*.dylib
src/tcsd/tcsd
confdefs.h
conftest*
dist/tcsd.conf
dist/fedora/trousers.spec
dist/trousers.spec
po/POTFILES
config.h
stamp-h*
*/.libs/*
*/*/.libs/*
*/*/*/.libs/*
*/*/*/*/.libs/*
.env.local
